<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body style="background-image: url(istockphoto-1198271727-170667a.jpg); backdrop-filter: blur(45px) ; background-size: 100%; background-repeat: no-repeat;">
    <%values.forEach(value=>{%>
        <h3><%=value.val%></h3>
    <%});%>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/output.css">
    <title>TODO APP</title>
</head>
<!-- <style>
    *{
        backdrop-filter: blur(45px);
    }
    form {
        display: inline-block;
    }

    .form-group {
        text-align: center;
        padding-bottom: 25px;
    }
</style> -->

<!-- <body style="background-image: url(istockphoto-1198271727-170667a.jpg); background-size: 100%; background-repeat: no-repeat;"> -->
    <body class="bg-green-500">
    <div class="form-group">
        <h1>To-Do <small>List</small></h1>
        <form action="/addtask" method="post" role="form">
            <input type="text" class="form-control" placeholder="Your Task" name="task">
            <input type="submit" class="btn btn btn-primary">
            <input type="text" class="form-control" name="name" value="<%=name%>" style="display:none;">
        </form>
        <div style="margin:10px; padding: 9px; ">
            <%values.forEach(value=>{%>
                <div style="padding:3px"><%=value%></div>
            <%})%>
        </div>
    </div>
    <div></div>
    <ul class="list-unstyled" id="todo"></ul>
</body>

</html>